<div class="row my-5 justify-content-center">
  <div class="col-8 col-md-6 col-lg-4">
    <h3 class="text-center mb-5">로그인</h3>
    <form name="frm" method="post">
      <div class="input-group my-2">
        <div class="input-group-text">이 메 일</div>
        <input class="form-control" name="email" value="tomato@hot.com" />
      </div>
      <div class="input-group">
        <div class="input-group-text">비밀번호</div>
        <input
          class="form-control"
          name="password"
          type="password"
          value="12345678"
        />
      </div>
      <div class="my-3">
        <button class="btn btn-secondary w-100" id="btnLogin">로그인</button>
      </div>
      <div class="my-3">
        <button class="btn btn-dark w-100" id="btnGoogleLogin">구글 로그인</button>
      </div>
      <div class="text-end mt-3"><a href="/join">회원가입</a></div>
    </form>
  </div>
</div>

<script type="module">
  import { app } from "/javascripts/firebase.js";
  import{loginEmail, loginGoogle} from"/javascripts/authLogic.js";
  import AuthLogic from"/javascripts/authLogic.js";

  console.log("import");
  const authLogic = new AuthLogic();
  const auth = authLogic.auth;
  const googleProvider = authLogic.googleProvider;
  
  console.log(auth);
  console.log(googleProvider);
  
  $("#btnLogin").on("click", ()=>{
    console.log("로그인버튼 클릭");
    $(frm).on("submit", (e)=>{
      console.log(e.currentTarget);
      e.preventDefault();//이벤트 캡쳐링을 방어, submit에서 항상 잊지말것!
      let email = $(frm.email).val();
      let password = $(frm.password).val();
      console.log(`${email} ${password}`);
      loginEmail(auth, email, password);
    })
  })

  $("#btnGoogleLogin").on("click", async(e)=>{
    console.log("구글로그인 버튼 클릭");
    e.preventDefault();
    const result = await loginGoogle(auth, googleProvider)
    console.log(result.uid);
    console.log(result.displayName);
    console.log(result.email);
    location.href="/";
  })
  
</script>