<div class="row mt-1 justify-content-end">
  <div class="col-6 col-md-2">
    <form name="frm">
      <div class="input-group">
        <button type="button" class="btn btn-success" onclick="location.href=''">새 글 작성</button>
      </div>
    </form>
  </div>
</div>

<!-- 클럽 목록을 출력할 공간 마련하기 -->
<div class="row" id="list_club"></div>

<!-- list_club 안에 들어갈 템플릿 작성하기 -->
<!-- <div class="container mt-3">
  <div class="product">
  </div>
</div> -->
<script id="temp_book" type="text/x-handlebars-template">
  {{#each documents}}
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card my-2">
      <div class="card-body">
        <img src="{{image thumbnail}}" index="{{@index}}" alt="도서이미지" style="cursor: pointer; width: 80%; margin-left: 12px;">
        <div class="mt-2">
          {{title}}
        </div>
      </div>
      <div class="card-footer" style="font-size: 0.7rem;">
        <div class="text-center">
          {{format price}}
          <span class="cart ms-3" style="cursor: pointer; color: green;">❤️</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</script>

<div class="text-center mt-2">
<button class="btn btn-primary btn-sm px-5" id="prev">이전</button>
<span id="page" class="px-3">1/10</span>
<button class="btn btn-primary btn-sm px-5" id="next">다음</button>
</div>

<script>
// <s type="module">
//   import { app } from "/javascripts/firebase.js";
//   import { getFirestore, collection, getDocs, doc, deleteDoc } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";
//   const db = getFirestore(app);
//   const querySnapshot = await getDocs(collection(db, "club_sports"));
//   console.log(querySnapshot.docs);

//   // // 이미지를 Firebase Storage에서 다운로드하여 표시
//   // db.collection('club_sports').get().then((result) => {
//   //     result.forEach((doc) => {
//   //       console.log(doc.data());

//   //       // 이미지 다운로드 url 가져오기
//   //       //올린 게시글을 firebase에 올리고 올린 내용 화면 출력하기
//   //         let template = `
//   //           <div class="product">
//   //             <div class="thumbnail" style="background-image: url(${doc.data().이미지})"></div>              
//   //             <div class="flex-grow-1 p-4">
//   //               <h5 class="a">${doc.data().제품명}</h5>
//   //               <p class="date">${doc.data().날짜.toDate()}</p>
//   //               <p class="price">${doc.data().가격}</p>
//   //               <p class="content">${doc.data().내용}</p>
//   //               <p class="float-end">❤️</p>
//   //             </div>
//   //           </div>`;

//   //         $('.container').append(template);
//   //       })
//   //     });
// </script>